@page
@model Taghelpers.Pages.newcvModel
@{
}
<div class="cont">
<h3 class="display-4">Create your cv by filling the below information</h3>
<div class="fill">
<form method="post">
    <div class="forms">
    <label> First Name </label>
    <input asp-for= "first_Name" type="text" />
    <span asp-validation-for="first_Name"></span>
    <br />
    </div>
    <div class="forms">
    <label>Last Name</label>
    <input asp-for="last_Name" type="text"/>
    <span asp-validation-for="last_Name"></span>
    <br />
    </div>
    <div class="forms">
    <label>BDay</label>
    <input asp-for="bdate" type="date"/>
    <br />
    </div>
        <div class="forms">
    <label>Nationality</label>
    <select asp-for="nation">
        <option value="lebanon">Lebanon</option>
         <option value="syria">Syria</option>
        <option value="palastine">Palastine</option>
        <span asp-validation-for="nation"></span>
    </select>
    <br />
    </div>
        <div class="forms">
    <label>sex</label>
    <input asp-for="Gender" type="radio" value="male" id="male" />
    <label asp-for="Gender" value="male" for="male">Male</label>
    <input asp-for="Gender" type="radio" value="female" id="female" />
    <label asp-for="Gender" value="female" for="female">Female</label>

    <br />
    </div>
    <div class="forms">
    <label>Skills</label>
    <input asp-for="java" type="checkbox" name="java" value="true" id="java" > 
    <label for="java"> Java</label>

    <input asp-for="python" type="checkbox" name="python" value="true" id="python">
    <label for="python"> Python</label>

    <input asp-for="ASP" type="checkbox" name="ASP" value="true" id="ASP">
    <label for="ASP"> ASP-NET</label>
    <br />
    </div>

    <div class="forms">
    <label for="email">Email</label>
    <input asp-for="email" type="email" name="email" />
    <span asp-validation-for="email"></span>
    <br />
    </div>
    <div class="forms">
    <label for="confirm_email">Confirm_Email</label>
    <input asp-for="confirm_email" type="email" name="confirm_email"/>
    <span asp-validation-for="confirm_email"></span>
    <br />
    </div>

    <div class="forms">
        <label asp-for="pass"></label>
        <input type="password" asp-for="pass" />
        <span asp-validation-for="pass"></span>
        <br />
        </div>
    <div class="forms">
        <label>Verification</label>
        <input asp-for="first_number" type="number" />
    <span asp-validation-for="first_number"></span>+
        <input asp-for="second_number" type="number" />
    <span asp-validation-for="second_number"></span>=
       <input asp-for="res" type="number" />
    <span asp-validation-for="res"></span>
       <br />
       </div>
        <div class="forms">
        <input type="file" name="photo" accept="image/*" />
        <input type="submit" value="Upload" />
<br />
</div>
    <div class="forms">
        <div class="btn">
    <input type="submit" value="submit" />
    </div>
            </div>
    <div asp-validation-summary="All"></div>
</form>
    </div>
</div>

