@page
@model Taghelpers.Pages.BrowseCvModel
@{
    <div class="browse">
    <h1>Here are the the info u entered </h1>
    </div>
    //print the values
    <h2>your grade is : @ViewData["Counter"]</h2>

}
